@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg1{
    background-image: url('../public/assets/images/bg1.png');
}
.bg2{
    background-image: url('../public/assets/images/bg2.png');
}